<mat-toolbar class="school-header">
  <!-- 1. ส่วนโลโก้ (แสดงผลทุกหน้า ทั้งนักเรียนและแอดมิน) -->
  <div class="logo-area" routerLink="/" style="cursor: pointer">
    <img src="assets/image/logo.png" alt="School Logo" class="logo-img" />
    <span class="school-title">Evaluation Signalschool</span>
  </div>

  <!-- 2. เมนูสำหรับคอมพิวเตอร์ (ซ่อนเมื่อเป็นแอดมิน ด้วย *ngIf="!isAdmin") -->
  <nav class="desktop-nav" *ngIf="!isAdmin">
    <ul class="menu-list">
      <li class="dropdown" *ngFor="let menu of menuData">
        <a mat-button [class.active-link]="isActive(menu.path)" style="cursor: default">
          {{ menu.title }} ▾
        </a>

        <!-- Desktop Menu: Submenus -->
        <ul class="dropdown-menu" *ngIf="menu.submenus">
          <li class="dropdown-submenu" *ngFor="let sub of menu.submenus">
            <a href="javascript:void(0)">{{ sub.course_name }} <span class="arrow">❯</span></a>

            <ul class="submenu-side">
              <li *ngFor="let batch of sub.batches">
                <a [routerLink]="menu.path" [queryParams]="{ batchId: batch.batch_id }">
                  {{ batch.batch_name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Desktop Menu: Simple Items -->
        <ul class="dropdown-menu" *ngIf="menu.simpleItems">
          <li *ngFor="let item of menu.simpleItems">
            <a [routerLink]="menu.path">{{ item }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- 3. ปุ่มเมนูบนมือถือ (ซ่อนเมื่อเป็นแอดมิน ด้วย *ngIf="!isAdmin") -->
  <button
    mat-icon-button
    class="mobile-menu-btn"
    [matMenuTriggerFor]="mobileMainMenu"
    *ngIf="!isAdmin"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- ส่วนที่เหลือปล่อยไว้ตามเดิมได้เลยครับ... -->
<mat-menu #mobileMainMenu="matMenu">
  <ng-container *ngFor="let menu of menuData">
    <button
      mat-menu-item
      *ngIf="menu.submenus"
      [matMenuTriggerFor]="courseSubMenu"
      [matMenuTriggerData]="{ submenus: menu.submenus, path: menu.path }"
    >
      {{ menu.title }}
    </button>
    <button
      mat-menu-item
      *ngIf="menu.simpleItems"
      [matMenuTriggerFor]="simpleMenu"
      [matMenuTriggerData]="{ simpleItems: menu.simpleItems, path: menu.path }"
    >
      {{ menu.title }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #courseSubMenu="matMenu" class="mobile-step-menu-l2">
  <ng-template matMenuContent let-submenus="submenus" let-path="path">
    <!-- ย้ายคอมเมนต์มาไว้ข้างนอกแบบนี้แทนครับ -->
    <button
      mat-menu-item
      *ngFor="let sub of submenus"
      [matMenuTriggerFor]="genSubMenu"
      [matMenuTriggerData]="{ batches: sub.batches, path: path, courseName: sub.course_name }"
    >
      {{ sub.course_name }}
    </button>
  </ng-template>
</mat-menu>

<mat-menu #genSubMenu="matMenu">
  <ng-template matMenuContent let-batches="batches" let-path="path">
    <a
      mat-menu-item
      *ngFor="let batch of batches"
      [routerLink]="path"
      [queryParams]="{ batchId: batch.batch_id }"
    >
      {{ batch.batch_name }}
    </a>
  </ng-template>
</mat-menu>

<mat-menu #simpleMenu="matMenu" class="mobile-step-menu-l2">
  <ng-template matMenuContent let-simpleItems="simpleItems" let-path="path">
    <a mat-menu-item *ngFor="let item of simpleItems" [routerLink]="path">
      {{ item }}
    </a>
  </ng-template>
</mat-menu>
