<mat-toolbar class="school-header">
  <div class="logo-area" routerLink="/" style="cursor: pointer">
    <img src="assets/image/logo.png" alt="School Logo" class="logo-img" />
    <span class="school-title">Evaluation Signalschool</span>
  </div>

  <nav class="desktop-nav">
    <ul class="menu-list">
      <li class="dropdown" *ngFor="let menu of menuData">
        <a mat-button [routerLink]="menu.path" routerLinkActive="active-link">
          {{ menu.title }} ▾
        </a>

        <ul class="dropdown-menu" *ngIf="menu.submenus">
          <li class="dropdown-submenu" *ngFor="let sub of menu.submenus">
            <a href="javascript:void(0)">{{ sub.course_name }} <span class="arrow">❯</span></a>
            <!-- โครงสร้าง class เดิม แต่ปรับตัวแปรลูปให้ใช้ batches ของ API -->
            <ul class="submenu-side">
              <li *ngFor="let batch of sub.batches">
                <a [routerLink]="menu.path" [queryParams]="{ batchId: batch.batch_id }">{{
                  batch.batch_name
                }}</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="dropdown-menu" *ngIf="menu.simpleItems">
          <li *ngFor="let item of menu.simpleItems">
            <a [routerLink]="menu.path">{{ item }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <button mat-icon-button class="mobile-menu-btn" [matMenuTriggerFor]="mobileMainMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- ส่วน Mobile Menu -->
<mat-menu #mobileMainMenu="matMenu">
  <ng-container *ngFor="let menu of menuData">
    <button
      mat-menu-item
      *ngIf="menu.submenus"
      [matMenuTriggerFor]="courseSubMenu"
      [matMenuTriggerData]="{ submenus: menu.submenus, path: menu.path }"
    >
      {{ menu.title }}
    </button>

    <button
      mat-menu-item
      *ngIf="menu.simpleItems"
      [matMenuTriggerFor]="simpleMenu"
      [matMenuTriggerData]="{ simpleItems: menu.simpleItems, path: menu.path }"
    >
      {{ menu.title }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #courseSubMenu="matMenu">
  <ng-template matMenuContent let-submenus="submenus" let-path="path">
    <button
      mat-menu-item
      *ngFor="let sub of submenus"
      [matMenuTriggerFor]="genSubMenu"
      [matMenuTriggerData]="{ batches: sub.batches, path: path }"
    >
      {{ sub.course_name }}
    </button>
  </ng-template>
</mat-menu>

<mat-menu #genSubMenu="matMenu">
  <!-- รับค่า batches มาวนลูปแสดงผลใน Mobile Menu -->
  <ng-template matMenuContent let-batches="batches" let-path="path">
    <a
      mat-menu-item
      *ngFor="let batch of batches"
      [routerLink]="path"
      [queryParams]="{ batchId: batch.batch_id }"
    >
      {{ batch.batch_name }}
    </a>
  </ng-template>
</mat-menu>

<mat-menu #simpleMenu="matMenu">
  <ng-template matMenuContent let-simpleItems="simpleItems" let-path="path">
    <a mat-menu-item *ngFor="let item of simpleItems" [routerLink]="path">
      {{ item }}
    </a>
  </ng-template>
</mat-menu>
