<mat-toolbar class="school-header">
  <div class="logo-area" routerLink="/" style="cursor: pointer">
    <img src="assets/image/logo.png" alt="School Logo" class="logo-img" />
    <span class="school-title">Evaluation Signalschool</span>
  </div>

  <nav class="desktop-nav">
    <ul class="menu-list">
      <li class="dropdown" *ngFor="let menu of menuData">
        <a mat-button [routerLink]="menu.path" routerLinkActive="active-link">
          {{ menu.title }} ▾
        </a>

        <ul class="dropdown-menu" *ngIf="menu.submenus">
          <li class="dropdown-submenu" *ngFor="let sub of menu.submenus">
            <!-- เปลี่ยนจาก ❯ เป็น &#10095; -->
            <a href="javascript:void(0)">{{ sub.course_name }} <span class="arrow">&#10095;</span></a>
            <ul class="submenu-side">
              <li *ngFor="let gen of sub.generations">
                <a [routerLink]="menu.path">{{ gen }}</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="dropdown-menu" *ngIf="menu.simpleItems">
          <li *ngFor="let item of menu.simpleItems">
            <a [routerLink]="menu.path">{{ item }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>


  <button mat-icon-button class="mobile-menu-btn" [matMenuTriggerFor]="mobileMainMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


<!-- สเต็ปที่ 1: เมนูหลัก (เพิ่ม class="mobile-step-menu-l1") -->
<mat-menu #mobileMainMenu="matMenu" class="mobile-step-menu-l1">
  <ng-container *ngFor="let menu of menuData">
    <button mat-menu-item *ngIf="menu.submenus" [matMenuTriggerFor]="courseSubMenu"
      [matMenuTriggerData]="{ submenus: menu.submenus, path: menu.path }">
      {{ menu.title }}
    </button>

    <button mat-menu-item *ngIf="menu.simpleItems" [matMenuTriggerFor]="simpleMenu"
      [matMenuTriggerData]="{ simpleItems: menu.simpleItems, path: menu.path }">
      {{ menu.title }}
    </button>
  </ng-container>
</mat-menu>

<!-- สเต็ปที่ 2: เมนูย่อยชั้นที่ 2 เช่น ชั้นนายพัน เหล่า ส. (เพิ่ม class="mobile-step-menu-l2") -->
<mat-menu #courseSubMenu="matMenu" class="mobile-step-menu-l2">
  <ng-template matMenuContent let-submenus="submenus" let-path="path">
    <button mat-menu-item *ngFor="let sub of submenus" [matMenuTriggerFor]="genSubMenu"
      [matMenuTriggerData]="{ generations: sub.generations, path: path }">
      {{ sub.course_name }}
    </button>
  </ng-template>
</mat-menu>

<!-- สเต็ปที่ 3: เมนูย่อยชั้นที่ 3 เช่น รุ่นที่ 63... (เพิ่ม class="mobile-step-menu-l3") -->
<mat-menu #genSubMenu="matMenu" class="mobile-step-menu-l3">
  <ng-template matMenuContent let-generations="generations" let-path="path">
    <a mat-menu-item *ngFor="let gen of generations" [routerLink]="path">
      {{ gen }}
    </a>
  </ng-template>
</mat-menu>

<!-- สำหรับ Simple Menu ทั่วไปที่ไม่มีชั้นย่อย (เพิ่ม class="mobile-step-menu-l2") -->
<mat-menu #simpleMenu="matMenu" class="mobile-step-menu-l2">
  <ng-template matMenuContent let-simpleItems="simpleItems" let-path="path">
    <a mat-menu-item *ngFor="let item of simpleItems" [routerLink]="path">
      {{ item }}
    </a>
  </ng-template>
</mat-menu>